/* PolicyFormPage.css */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #333;
  color: #fff;
  padding: 20px;
  width: 99%;
}

.back-button {
  align-self: flex-start;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: #444;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background: #555;
}

.styled-form {
  background: #222;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 80%;
  max-width: 800px;
  width:90%;
}

.form-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #fff;
  text-align: center;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: #ddd;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.7rem;
  margin-top: 0.5rem;
  border: 1px solid #555;
  border-radius: 5px;
  background: #333;
  color: #fff;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #888;
  outline: none;
}

.checkbox-group {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.7rem;
  margin-top: 1.5rem;
  background: #6c63ff;
  border: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background: #5754d3;
}
